.container {
  min-height: 100vh;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.owners {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.owner {
  text-align: center;
}
